@model RepositorioGitHub.Dominio.ActionResult<RepositorioGitHub.Dominio.GitHubRepositoryViewModel>
@{
    ViewBag.Title = "Home Page";
}


<h2>Listagem de Repositórios por Usuário</h2>

<div class="jumbotron">
    <form id="searchForm" method="post">
        <div class="form-group">
            <label for="username">Nome do Usuário:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <button type="submit" class="btn btn-primary">Buscar Repositórios</button>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Proprietario</th>
                <th>Nome Completo</th>
                <th>URL</th>
                <th></th>
            </tr>

            @if (Model != null && Model.Results != null)
            {
                foreach (var item in Model.Results)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.Login)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Url)
                        </td>

                        <td>
                            @Html.ActionLink("Detalhe", "Details", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>


<script>
document.getElementById('searchForm').addEventListener('submit', function(e) {
    e.preventDefault();

    var username = document.getElementById('username').value;

    fetch('@Url.Action("GetRepositorie")', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ username: username })
    })
   .then(response => response.json())
   .then(data => {
        updateTable(data);
    })
   .catch(error => console.error('Error:', error));
});

function updateTable(data) {
    var tableBody = document.querySelector('.table tbody');
    tableBody.innerHTML = '';
    data.forEach(item => {
        var row = document.createElement('tr');

        row.innerHTML = `
            <td>${item.Name}</td>
            <td>${item.Owner.Login}</td>
            <td>${item.FullName}</td>
            <td><a href="${item.Url}">Detalhe</a></td>
        `;

        tableBody.appendChild(row);
    });
}
</script>

